/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
*{
	-fx-font-size: 12px;
	-fx-font-weight: bold;
}
.radio-button-correct{
	-fx-text-fill : green;
}
.radio-button-incorrect{
	-fx-text-fill : red;
}
.label{
	-fx-max-width:740px;
	-fx-wrap-text:true;
}
.radio-button{
	-fx-max-width:240px;
	-fx-wrap-text:true;
}

.button{
  	-fx-background-color: #e66444; 
  	-fx-border: none;
  	-fx-padding: 15px 32px;
  	-fx-text-align: center;
  	-fx-text-decoration: none;
  	-fx-display: inline-block;
  	-fx-font-size: 16px;
  	-fx-cursor: pointer;
   	-fx-text-fill: #ffffff;
}

.content-pane {
  	-fx-background-color: whitesmoke;
}
.text-field {
	-fx-width: 100%;
  	-fx-padding: 12px 20px;
  	-fx-margin: 8px 0;
 	-fx-display: inline-block;
  	-fx-border-radius: 4px;
  	-fx-box-sizing: border-box;
}

.ach{	
  	-fx-background-color:  #16518b; 
}